.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
  }
  
  .forgot-password-form {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .forgot-password-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .f-form-group {
    margin-bottom: 15px;
  }
  
  .f-form-group label {
    display: block;
    margin-bottom: 5px;
    
    color: #333;
  }
  
  .f-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .password-errors {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: red;
    font-size: 14px;
  }
  
  .forgot-password-options {
    text-align: center;
    margin-top: 15px;
  }
  
  .forgot-password-options a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .forgot-password-options a:hover {
    color: #0056b3;
  }
  
  .forgot-password-options span {
    color: #333;
  }
  